html {-webkit-text-size-adjust:none;}
html.fix {overflow:hidden;}
html,body {height:100%;}
body,h1,h2,h3,h4,h5,h6,div,p,blockquote,pre,address,ul,ol,li,dl,dt,dd,table,caption,th,td,form,fieldset,legend,hr,label,input,textarea,button,select,option {margin:0;padding:0;font-family:'Poppins', sans-serif, 'Nanum Gothic';}
header,section,article,aside,footer,nav {display:block;}
legend,caption {position:absolute;top:-9999px;left:-9999px;width:0;height:0;font-size:0;visibility:hidden;overflow:hidden;}
caption {position:relative;}
img {border:0;vertical-align:top;}
fieldset {border:0;}
ul,ol,dl {list-style:none;}
textarea,button,select,input {box-sizing:border-box;border:none;vertical-align:middle;-webkit-appearance:none;-moz-appearance:none;appearance:none;outline:none !important;}
button {border:none;background-color:transparent;cursor:pointer;}
em,address {font-style:normal;}
/* a {text-decoration:none;color:rgba(255,255,255,.9);} */
a {text-decoration:none;color:rgba(0, 0, 0, 0.9);}
a:hover,a:active,a:focus {text-decoration:none;}
table {width:100%;border-collapse:collapse;border-spacing:0;}
th, td {box-sizing:border-box;word-break:break-all;word-wrap:break-word;}
strong {font-weight:300;}
