section.wrap {
    background: #BED8F4;
}
.myself_title {
    height: 8%;
}
.contents {
    height: 87%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
}
.box_top {
    width: 50%;
    height: 40%;
    background-color: cadetblue;
    display: flex;
    justify-content: center;
    /* border: 1px solid #ff0000; */
    border-radius: 0.5em;
    box-shadow: 0px 1px 3px 0px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 2px 1px -1px rgb(0 0 0 / 12%);
}
article.picture {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    /* background-color: khaki; */
}
.selfie_frame {
    width: 130px;
    height: 130px;
    border: 1px solid red;
    border-radius: 50%;
}
.selfie {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
article.description {
    width: 70%;
    height: 100%;
    box-sizing: border-box;
    padding: 4% 2%;
}
.desc_title {
    font-size: 2em;
    /* margin-bottom: 0.5em; */
}
.name {
    margin-right: 0.3em;
}
.desc_title svg {
    font-size: 32px;
    cursor: pointer;
    margin: 0 0.2em;
}
article.description p {
    margin: 0.5em 0;
}
.box_bottom {
    width: 50%;
    height: 40%;
    background-color: yellowgreen;
    /* border: 1px solid #ff0000; */
    border-radius: 0.5em;
    box-shadow: 0px 1px 3px 0px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 2px 1px -1px rgb(0 0 0 / 12%);
}
article.others {
    padding: 2%;
}
article.others p {
    margin: 0.7em 0;
}
article.others h2 {
    margin-top: 1em;
    text-align: center;
    color: #505050;
}

@media screen and (max-width: 768px) {
    .contents {
        /* justify-content: flex-end; */
    }
    .box_top {
        width: 100%;
        padding: 0;
        height: 45%;
    }
    article.picture {
        width: 40%;
    }
    article.description {
        width: 60%;
    }
    .box_bottom {
        height: 50%;
        width: 100%;
    }
    article p {
        font-size: 0.8em;
    }
    article.others p {
        padding: 0 7%;
    }
    article.others h2 {
        padding: 0 10%;
    }
}

/* .contents {
    height: 87%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 2% 10%;
}
article.picture {
    width: 50%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: cadetblue;
}
.selfie_frame {
    width: 150px;
    height: 150px;
    border: 1px solid red;
    border-radius: 50%;
}
.selfie {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
article.description {
    width: 50%;
    height: 40%;
    background-color: blueviolet;
}
article.others {
    width: 100%;
    height: 50%;
    background-color: thistle;
} */